.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  background: #0F2027;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1 {
  background-color: rgba(0, 0, 0, 0.74);
  color: rgba(255, 255, 255, 0.829);
  text-shadow: 1px 1px 1px black;
  border-bottom-left-radius: .5in;
  padding: 10px;
}

h2 {
  color: rgba(255, 255, 255, 0.493);
  font-weight: lighter;
  font-size: 18px;
}

button {
  border-radius: .05in;
  font-size: 15px;
  background-color: rgb(209, 209, 209);
}

.api-url{
  width: 60%;
  height: 20px;
  border-radius: .05in;
  font-size: 20px;
  margin-bottom: 20px;
}

.json {
  font-size: 15px;
  width: 95%;
  margin: auto;
  padding: 10px
}

.generate-button{
  margin-left: 5px;
  border-radius: .05in;
  font-size: 15px;
  margin-bottom: 20px;
}